* {
  box-sizing: border-box;
}

body {
  background-position-x: 25%;
}

body.dark {
  background: #111111;
  color: azure;
  background-position-x: 25%;
}

.container {
  display: block;
  margin-left: 40%;
  margin-top: 5%;
}
