* {
  box-sizing: border-box;
  font-family: "Cascadia Code";
  font-size: 14px;
  color: cornsilk;
}

body {
  background-color: #150a40;
}

td,
tr,
th {
  border: 2px solid #5db75d;
}

img,
svg {
  width: 15%;
}

.container-gh,
.container-wr,
.container-adven,
.container-st,
.container-et,
.container-pk,
.container-gs,
.container-ms,
.container-sag,
.container-ss,
.container-mm,
.container-so {
  background-color: rgba(56, 112, 233, 0.6);
  border-bottom-right-radius: 50px;
  display: block;
}

.container-gh,
.container-wr,
.container-adven,
.container-st,
.container-et,
.container-pk,
.container-gs,
.container-ms,
.container-sag,
.container-ss,
.container-mm,
.container-so > p {
  width: 90%;
  padding-left: 2%;
  margin-left: 2%;
}

#section-1 {
  background-image: url(./img/gracia.png);
  background-position-y: 50%;
  background-size: cover;
  padding-bottom: 10%;
  margin-bottom: 5%;
}

#section-1 > .text-center {
  padding-top: 3%;
  color: #1eaca6;
  font-size: 25px;
}

.btn-dark:hover {
  background-color: #1eaca6;
}

#taller {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding-top: 3%;
  padding-bottom: 3%;
}

#taller h3 {
  color: #150a40;
}
