* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-size: 12px;
  padding: 3% 3%;
  background-color: slategrey;
}

.col-lg-4 {
  border: 1px solid black;
}

#col1 {
  background-image: url("./img/calc.jpg");
  background-repeat: repeat;
  background-size: contain;
}

#col2 {
  background-image: url("./img/yellow.svg");
}

#col3 {
  background-image: url("./img/yellow.svg");
}

.grupoBtn {
  display: inline-flex;
}

#banner {
  margin-left: 30px;
}
