* {
  box-sizing: border-box;
  font-family: "Cascadia Code";
  font-size: 14px;
  color: rgb(227, 229, 233);
}

body {
  background-color: #150a40;
}

td,
tr,
th {
  border: 2px solid #5db75d;
}

img,
svg {
  width: 15%;
}

.container-gh,
.container-wr,
.container-adven,
.container-st,
.container-et,
.container-pk,
.container-hk,
.container-gs,
.container-ms,
.container-sag,
.container-ss,
.container-mm,
.container-so,
.container-arch,
.container-duel,
.container-dread,
.container-gk,
.container-ti,
.container-fs,
.container-maes,
.container-sm,
.container-em,
.container-al,
.container-doom,
.container-sh,
.container-tri,
.container-jud {
  background-color: rgba(56, 112, 233, 0.6);
  border-bottom-right-radius: 50px;
  display: block;
}

.container-gh,
.container-wr,
.container-adven,
.container-st,
.container-et,
.container-pk,
.container-hk,
.container-gs,
.container-ms,
.container-sag,
.container-ss,
.container-mm,
.container-so,
.container-arch,
.container-duel,
.container-dread,
.container-gk,
.container-ti,
.container-fs,
.container-maes,
.container-sm,
.container-em,
.container-al,
.container-doom,
.container-sh,
.container-tri,
.container-jud > p {
  width: 90%;
  padding-left: 2%;
  margin-left: 2%;
}

#section-1 {
  background-image: url(./img/gracia.png);
  background-position-y: 50%;
  background-size: cover;
  padding-bottom: 10%;
  margin-bottom: 5%;
}

#section-1 > .text-center {
  padding-top: 3%;
  color: #1eaca6;
  font-size: 25px;
}

.btn-dark:hover {
  background-color: #1eaca6;
}

/* --------------------------------- */
/* Edicion de stats */
.edicion-de-stats {
  border: 1px solid white;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* ---------------------------------------- */
/* Footer  */
#btn-footer {
  margin-right: 43%;
  margin-left: 43%;
}

.footer {
  position: absolute;
  width: 50vw;
  margin-left: 22%;
  font-weight: bolder;
}

/* Tabla */
.container-dyes {
  background: rgba(162, 67, 246, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #150a40;
}

.container-dyes:hover {
  background: rgba(162, 67, 246, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container-dyes img {
  width: 5%;
}

.container-dyes > td,
th {
  padding: 2em;
  color: #150a40;
}

.dye-descripcion:hover {
  cursor: pointer;
  font-size: 20px;
  box-shadow: rgba(255, 195, 0, 0.4) 5px 0px, rgba(255, 195, 0, 0.3) 10px 0px,
    rgba(255, 195, 0, 0.2) 15px 0px, rgba(255, 195, 0, 0.1) 20px 0px,
    rgba(255, 195, 0, 0.05) 25px 0px;
}

.dye-descripcion p:hover {
  background-color: 255, 195, 0, 0.4;
  color: rgb(255, 195, 0);
}

th,
td,
tr {
  border: 1px solid rgba(162, 67, 246, 0.4);
}

.dye-img-1 {
  background-image: url("./img/dye-con.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.dye-img-2 {
  background-image: url("./img/dye-str.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.dye-img-3 {
  background-image: url("./img/dye-dex.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.dye-img-4 {
  background-image: url("./img/dye-int.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.dye-img-5 {
  background-image: url("./img/dye-wit.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.dye-img-6 {
  background-image: url("./img/dye-men.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
